!!!
%html
  %head
    %title Mark Percival's Bootleg Economist
  %body
    #cover
      %center
        %h1 Mark Percival's Bootleg Economist
    #toc
      %p
        Table of Contents
      -sections.each_pair do |section, articles|
        %h3= section
        - articles.each do |article|
          %p
            %a{:href => "##{article.id}"}
              = article.title.capitalize
    %mbp:pagebreak
    -sections.each_pair do |section, articles|
      - articles.each do |article|
        %p
          %a{ :name => "##{article.id}" }
        %p
          = article.content
        %mbp:pagebreak

